<h1>Listing stock_charts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stock_charts.each do |stock_chart| %>
  <tr>
    <td><%= link_to 'Show', stock_chart %></td>
    <td><%= link_to 'Edit', edit_stock_chart_path(stock_chart) %></td>
    <td><%= link_to 'Destroy', stock_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stock chart', new_stock_chart_path %>
