<p id="notice"><%= notice %></p>
<% content_for :javascript_includes do %>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
      google.setOnLoadCallback(function() {
          var visual_div = $('#visualization');
          drawVisualization(visual_div);
      });
  </script>
<% end %>

<%= tag("div", :id => 'visualization', :data => {
        url: stock_price_url(@stock_chart_query.serializable_hash),
        width: 1200,
        height: 600
}) %>


<!-- %= link_to 'Edit', edit_stock_chart_path(@stock_chart) % -->
<!-- %= link_to 'Back', stock_charts_path % -->
